.footer {
    position: relative;
}



.footer__container {
    padding-top: 100px;
    padding-bottom: 80px;
    z-index: 4;
    position: relative;
}

.footer__rows {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

@media (max-width:992px) {
    .footer__rows {
        gap: 40px;
    }
    .footer__container{
        padding-top: 50px;
    }
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

@media (max-width:992px) {
    .footer__row {
        flex-wrap: wrap;
        gap: 40px;
    }
}

.footer__about-us {
    max-width: 564px;
}

.footer__logo {
    width: 40%;

    img {
        width: 100%;
    }

    padding-bottom: 40px;
}

.footer__text {
    font-size: 30px;
    line-height: 40px;
    color: #64646A;
}

@media (max-width:375px) {
    .footer__text {
        font-size: 25px;
        line-height: 32px;
    }
}

.footer__contacts {}

.footer__contacts-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #1B1B1D;
    margin-bottom: 30px;
}

.footer__contacts-mail {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;

    a {
        font-size: 30px;
        line-height: 44px;
        color: #64646A;
        display: flex;
        flex-direction: row;
    }

    img {
        padding: 14px;
        border-radius: 50px;
        background: #FFFFFF;
        box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
    }
}

@media (max-width:375px) {
    .footer__contacts-mail {
        gap: 10px;

        a {
            font-size: 22px;
        }
    }
}

.footer__contacts-phone {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;

    a {
        font-size: 30px;
        line-height: 44px;
        color: #64646A;
        display: flex;
        flex-direction: row;
    }

    img {
        padding: 14px;
        border-radius: 50px;
        background: #FFFFFF;
        box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
    }
}

@media (max-width:375px) {
    .footer__contacts-phone {
        gap: 10px;

        a {
            font-size: 22px;
        }
    }
}

.footer__contacts-social {
    margin-right: 20px;

    img {
        cursor: pointer;
        margin-right: 20px;
        padding: 14px;
        border-radius: 50px;
        background: #FFFFFF;
        box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
        transition: all 0.3s linear;

        &:hover {
            -webkit-box-shadow: 0px 0px 47px 4px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 47px 4px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 47px 4px rgba(0, 0, 0, 0.75);
        }
    }
}

@media (max-width:375px) {
    .footer__contacts-social {
        img {
            margin-right: 5px;
        }
    }
}

.footer__location {
    max-width: 558px;
}

.footer__location-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #1B1B1D;
}

.footer__location-text {
    font-size: 30px;
    line-height: 40px;
    color: #64646A;
    margin: 20px 0;
}

@media (max-width:375px) {
    .footer__location-text {
        font-size: 25px;
        line-height: 32px;
    }
}

.footer__location-find {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #1B1B1D;
    position: relative;
    &:hover {
        color: #717177;
    }
}

