* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    line-height: 1;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ffff;
   
}

// ============================================
.wrapper {
    overflow-x: hidden;
}

// =================================================

[class*="__container"] {
    max-width: 1259px;
    margin: 0 auto;
    padding: 0 15px;
}

// ========---------PK-----------=========
@media (max-width:1306px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

// ========---------TABLET-----------=========
@media (max-width:992px) {
    [class*="__container"] {
        max-width: 750px;
    }

}

// ========---------Mobile-----------=========
@media (max-width:767.98px) {
    [class*="__container"] {
        max-width: none;
    }

    .header__logo-item {
        width: 100px;
    }

}
